@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1F3F4;
    align-items: center;
    height: 50px;
}
.logo img{
    height: 40px;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}
    
.logo span{
    font-size: 1.5rem;
}
.nav-bar-box{
    width: 150px;
    height: 90px;
    background-color: #F1F3F4;
    position: fixed;
    top: -50px;
    right: -150px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: solid 1px rgb(161, 161, 161);
    border-radius: 12px;
    transition: 500ms

}
.nav-bar-box-open{
    top: 30px;
    right: 30px;
    transition: 500ms

}
.nav-bar-box img ,.nav-bar img{
    cursor: pointer;
}
.nav-bar-box img:hover{
    transform: scale(1.1);
}