
*{
    box-sizing:border-box;
    margin: 0;
}
a{
    text-decoration:none;

}

 .main-container{
     display: flex;
     justify-content: center;
      }
 .aside-container{
     display: flex;
     flex-direction: column;
     background-color: rgb(255, 255, 255);
     width: 20vw;
     padding: 5px;

 }
 .mail-container{
     padding: 10px;
     width: 90vw;
     display: flex;
     flex-direction: column;
    
 }
 .mail-list{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border-bottom: 1px solid rgba(0, 0, 0, 0.219);
     cursor: pointer;
     

 }
 .mail-list:hover{
     background-color: rgb(215, 219, 219);
 }
.star img{
    height: 20px;
    width: 20px;
}
.subject{
    margin-right: auto;
    width: 50vw;
}
.delet-btn img{
    height: 20px;
    width: 20px;
}

  .unread{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
.readed{
    font-weight: 0;
    background-color: rgb(240, 240, 240);
}
.to-back {
    font-size: 40px;
    text-decoration:  none;
}
.details-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.details-title{
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details-from{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aside-container .router-link-active ,.btn{
    background-color:#ffffff;
	border-radius:0px 5px 5px 0px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:14px;
	padding:6px 15px;
	text-decoration:none;
}
.aside-container .router-link-active ,.btn:hover{
    background-color:#f1eeee;

}
.aside-container .router-link-exact-active  {
	background-color:#fce8e6;
	border-radius:0px 5px 5px 0px;
	display:inline-block;
	cursor:pointer;
	color:#d61200;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}
.aside-container button{
    padding: 10px 24px 10px 15px;
    border: solid 1px rgb(224, 224, 224);
    border-radius:2em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.book-filter{
    margin-left: 20vw;
    background-color: #F1F3F4;
    border-radius: 15px;
    max-width: 70vw;

}
.book-filter input{
    padding: 8px;
    width:30vw;
    font-size: 16px;
    background-color: #F1F3F4;
    color: #000000;
    border-style: solid;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 0px 0px 3px #F1F3F4;
    text-shadow: -50px 0px 0px #F1F3F4;
    background-color: #F1F3F4;
    border-color: #F1F3F4;
    outline:none;

}

.book-filter button{
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #F1F3F4;
    height: 38px;
    border-radius: 12px 0px 0px 12px;  
    padding-top: 10px;

  
}
.book-filter button img{
width: 25px;
height: 25px;

}
.send-mail-container{
    height: 350px;
    width: 350px;
    background-color: #ffffff;
    position: fixed;
    top: 100vh;
    border-radius: 12px 12px 0px 0px;  
    border:  solid 1px #cecece;
    right: 10px;
    display: flex;
    flex-direction: column;
    transition: 1s

}
.open{
    top: calc(100vh - 351px);
    transition: 1s
}
.send-mail-header{
    display: flex;
    align-items: center;
    background-color: #404040;
    border-radius: 12px 12px 0px 0px;  
    height: 30px;
    padding: 10px;
    color: #ffffff;
    justify-content: space-between;
}
.send-mail-input2,.send-mail-input1{
    border-bottom: solid #00000049 0.1px;
}
.send-mail-input2 span,.send-mail-input1 span{
    color: #7a7a7a;
    padding: 10px;
}
.send-mail-input2 input,.send-mail-input1 input{
    outline:none;
    border: none;
}
.send-textarea textarea{
    border: none;
    width: 100%;
    outline: none;
    padding: 10px;
    max-height: 100vw;
}
.send-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.send-footer button{
background-color: #297BE6;
border-radius: 5px;
border: #000000 1px;
color: white;
padding: 8px;
width: 70px;
cursor: pointer;


}
.send-footer img{
    width: 15px;
    height: 15px;
    cursor: pointer;

}
.send-footer img:hover{
    transform: scale(1.1);

}
