.note-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.note-list img {
    width: 100%;
}

.note-list ul li {
    background-color: red;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 10px;
}

.note-list .note-preview {
    padding: 10px;
}

.note-list .note-todos .todo.completed {
    text-decoration: line-through;
}