.note {
    display: inline-block;
    border: 1px solid #e0e0e0;
    margin: 1rem 0;
    padding: 1rem 1rem 0;
    font-size: 1.2rem;
    width: 95%;
    overflow-wrap: break-word;
}

.note:hover {
    box-shadow: 0px 10px 13px -7px #817f7f, 2px 3px 0px 0px #7e7c7c00;
    transition: box-shadow 0.2s;
}

.note iframe,
.note img {
    width: 100%;
}

.note iframe {
    height: 30vh;
}

.note .note-container {
    position: relative;
}

.note .note-pin {
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    color:#c71b1b;
    display: none;
    cursor: pointer;
}

.note .note-pin:hover,
.note .note-pin .pinned {
    color: #2424a0;
    
}

.note .note-pin .pinned:hover {
    color:#c71b1b;
}

.note .note-preview {
    margin-bottom: 1rem;
}

.note .note-actions {
    display: flex;
    margin-bottom: 1rem;
}

.note .note-actions i:first-of-type {
    flex:1;
}

.note .note-actions .actions {
    position: absolute;
    display: none;
    bottom: 0;
    right: -2rem;
}

.note:hover .note-actions .actions,
.note.editable .note-actions .actions,
.note:hover .note-pin,
.note.pinned .note-pin {
    display: block;
}

.note .note-actions .actions i {
    margin-right: 1em;
    cursor: pointer;
}

.note .note-actions .actions label {
    cursor: pointer;
}

.note .actions .btn-note-delete:hover {
    color: red;
}

.note .note-edit {
    text-align: center;
    padding-bottom: 1rem;
}

/* TODO NOTE */
.note .todo.completed {
    text-decoration: line-through;
}

.note .todo:not(:last-of-type) {
    margin-bottom: 10px;

}

.note .todo-txt {
    margin-left: 10px;
}