.note-add {
    text-align: center;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    border: solid 1px rgb(156, 151, 151);
    display: flex;
}

.note-add .input-container {
    flex: 1;
}

.note-add input {
    box-sizing: border-box;
    border: 0;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.note-add input:focus {
    outline: none;
}

.note-add .buttons-container {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.note-add .buttons-container > * {
    padding-right: 10px;
    cursor: pointer; 
    font-size: 1.2rem
}